[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-fugative"]
	path = .vim/bundle/vim-fugative
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/headlights"]
	path = .vim/bundle/headlights
	url = https://github.com/mbadran/headlights
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = https://github.com/sjbach/lusty
